  @import url('https://fonts.googleapis.com/css2?family=Abel&family=Fira+Sans:wght@300&family=Indie+Flower&family=Shantell+Sans:ital,wght@1,300&display=swap');

  body {
    font-family: 'Abel', sans-serif;
    background-color: #222f3e;
    color: white;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  main {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
  }

  a {
    text-decoration: none;
    color: white;
  }

  /* NAVIGATION  */

  .navbar {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
  }

  .fa-bars,
  .fa-bars::before {
    font-size: 50px;
    color: black;
    align-self: center;
    display: none;
  }

  .nav-items-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-link-wrapper {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
  }

  .nav-link {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.1em;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
  }

  .nav-link::after {
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2c3e50;
    transition: 0.5s ease;
  }

  .nav-link:hover::after {
    width: 100%;
  }

  .nav-link:hover>.nav-item {
    color: white;
  }

  .nav-item {
    z-index: 5;
  }

  .nav-logo {
    width: 80px;
  }

  .search {
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    height: 40px;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .search-input {
    border: none;
    outline: 0;
    text-transform: uppercase;
  }

  .search-submit-button {
    border: none;
    background-color: white
  }

  .fa-magnifying-glass:hover {
    cursor: pointer;
  }

  .loupe {
    color: black;
    font-size: 1.5em;
  }

  .search:focus-within .loupe,
  .search-input:focus {
    color: white;
  }

  .search:focus-within,
  .search-input:focus,
  .search-input:focus+.search-submit-button {
    background-color: #2c3e50;
  }

  header {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .genres-select-form {
    color: black;
    font-weight: bold;
    letter-spacing: 0.5px;
    background-color: #c8d6e5;
    width: 85%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
  }

  .genres-select,
  .genres-select-submit {
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding-left: 5px;
    padding-right: 5px;
    outline: none;
    height: 50px;
    width: 170px;
    border-radius: 5px;
  }

  .genres-select-submit:hover {
    cursor: pointer;
  }

  .actual-films-section {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  footer {
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-self: flex-end;
    justify-content: space-around;
    align-items: center;
  }

  .about-me {
    width: 250px;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .attribution {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .attribution-logo {
    width: 80px;
  }

  .genres-results {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .results-container {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }

  .results-container>a {
    text-decoration: none;
  }

  .card-container {
    width: 200px;
    height: 360px;
    margin-right: 25px;
    overflow: hidden;
    background: #C9D6FF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: black;
    margin-bottom: 25px;
    border-radius: 5px;
    position: relative;
  }

  .card-container>i {
    color: white;
    opacity: 0;
    font-size: 2.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);
  }

  .card-poster {
    width: 100%;
    height: 300px;
    position: relative;
  }

  .card-container:hover.card-container>i {
    opacity: 1;
  }

  .card-container:hover {
    cursor: pointer;
  }

  .card-container::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
  }

  .card-container:hover::after {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .card-details {
    display: flex;
    height: 60px;
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .card-film-title {
    margin-left: 5px;
    margin-right: 5px;
    padding: 0;
    font-size: 0.9em;
  }

  .vote-average-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #2ecc71;
    position: absolute;
    top: -27px;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
  }

  .vote_average {
    font-size: 0.9em;
    font-weight: bold;
  }


  /* FILM DETAIL PAGE */

  .film-details-section {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .film-details-section-header {
    position: relative;
    background: #000046;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 600px;
    border-radius: 5px;
  }

  .film-details-container {
    width: 70%;
    display: flex;
    flex-direction: column;
  }

  .film-details-title,
  .film-details-original-title {
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 0;
    margin-top: 0;
  }

  .film-details-title {
    margin-bottom: 0;
  }

  .film-details-original-title {
    margin-top: 0
  }

  .film-details-data {
    width: 100%;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
  }

  .casting {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .cast-card {
    width: 140px;
    height: 250px;
    display: flex;
    flex-direction: column;
  }

  .cast-image-null {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .no-image-icon {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 5px;
  }

  .fa-camera {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .pipe {
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);

  }

  .cast-image {
    width: 100%;
    height: 200px;
    border-radius: 5px;
  }

  .cast-image-null {
    background-color: rgba(0, 0, 0, 0.5)
  }

  .actor-name {
    font-weight: bold;
    font-size: 1.1em
  }

  .film-details-poster-container {
    width: 300px;
    height: 450px;
  }

  .film-details-poster {
    height: 450px;
  }

  .media-container {
    width: 60%;
    height: 500px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
  }

  .youtube-player {
    width: 100%;
    height: 100%;
    margin-right: 15px;
    border-radius: 10px;
  }

  .not-found-image {
    border-radius: 10px;
    width: 100%;
  }

  .video-not-found,
  .player {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    border-radius: 10px;
  }

  .not-found-message {
    border: 1px solid orange;
    height: 40px;
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .media-info {
    width: 35%;
    border-radius: 5px;
    padding: 5px;
    background: #000046;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046);
    /* W3C, IE 10+/, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  /* RESULTATS DE RECHERCHE */

  .card-image-null {
    height: 300px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
  }

  /* LES FILMS LES MIEUX NOTES PAR GENRE */

  .best-rated {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .genre-row {
    width: 80%;
    height: 220px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid orange;
    border-radius: 5px;
    position: relative;
    margin-bottom: 20px;
  }

  .genre-row-title {
    position: absolute;
    top: -33px;
    left: 20px;
    width: 100px;
    background-color: #222f3e;
    text-align: center;
    text-transform: capitalize;
  }

  .card-top-rated {
    width: 200px;
    height: 200px;
    position: relative;
  }

  .card-top-rated:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.2s linear;
  }

  .card-top-rated-title {
    position: absolute;
    z-index: 5;
    color: white;
    width: 100%;
    height: 60px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .thumbnail {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
  }

  @media screen and (max-width: 420px) {

    .nav-items-container {
      width: 95%;
      position: relative;
    }

    .fa-bars,
    .fa-bars::before {
      display: block;
    }

    .nav-logo {
      display: none
    }

    .search {
      width: 60%;
    }

    .nav-link-wrapper {
      display: flex;
      flex-direction: column;
      position: absolute;
      justify-content: flex-start;
      align-items: flex-start;
      width: 60%;
      left: -10px;
      bottom: -40px;
      z-index: 5;
      background-color: white
    }

    .invisible {
      display: none;
    }

    header {
      width: 97%;
    }

    .app-explanations {
      text-align: center;
      margin-bottom: 15px;
    }

    .genres-select-form {
      width: 100%;
      display: flex;
      flex-direction: column;
      height: 100px;
    }

    .actual-films-section,
    .results-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }


    .film-details-section {
      width: 100%;
      height: 1600px;
      display: flex;
      flex-direction: column-reverse;
    }

    .film-details-section-header {
      height: 1200px;
    }

    .film-details-container {
      width: 95%;
      height: 1200px;
    }

    .media-container {
      width: 95%;
      height: 300px;
      margin-bottom: 10px;
    }

    .film-details-data {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 10px;
    }

    .fa-circle-dot::before {
      display: none;
    }

    .casting {
      flex-wrap: wrap;
    }

    .film-details-poster-container {
      display: none;
    }

    .casting {
      height: 100%;
      justify-content: space-evenly;
    }

    .cast-card {
      margin-bottom: 20px;
    }

    .genres-results {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .genre-row {
      width: 95%;
      display: flex;
      justify-content: flex-start;
      overflow-X: scroll;
    }

    .genre-row-title {
      position: absolute;
      top: -20px;
      left: 50%;
      z-index: 5;
      transform: translateX(-50%);
    }

    .card-top-rated {
      width: 120px;
      margin-right: 10px;
    }

    footer {
      display: flex;
      flex-direction: column;
    }

    .attribution {
      flex-direction: column-reverse
    }

    .attribution-logo {
      width: 50px;
    }

  }