{% include "base.html.twig" %}

{% block content %}
	<header class="film-details-section-header">
		<div class="film-details-details">
			<h1 class="film-details-title"></h1>
			<span class="film-details-data"></span>
			<p class="film-details-synopsis"></p>
		</div>
		<div class="film-details-poster"></div>
	</header>
{% endblock %}
