<footer>
	<div class="about-me">
		<i class="fa-solid fa-copyright"></i>
		<span class="me">Gérard HUBERT</span>
		<a href="https://www.linkedin.com/in/g%C3%A9rard-hubert-ab6213206/" target="_blank" rel="noreferer">
			<i class="fa-brands fa-linkedin"></i>
		</a>
	</div>

	<div class="attribution">
		<a href="https://www.themoviedb.org/" target="_blank">
			<img class="attribution-logo" src="/images/tmdb_logo.svg" alt="logo de the movie database"/>
		</a>
		<span class="attribution-text">Données fournies par The Movie Database</span>
	</div>
</footer>
